.accordion {
    background-color: rgba(#fff, 0.1);
    backdrop-filter: blur(100px);
    border-radius: 24px;

    &:not(:last-child) {
        margin-bottom: 24px;
    }

    &__toggler {
        @include button-reset;
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 24px;
        justify-content: space-between;
        padding: 24px;
        transition: color 0.3s;
        width: 100%;
        @include hover {
            color: var(--primary_color);
        }

        &.is-active {
            border-radius: 24px 24px 0 0;
            color: var(--primary_color);

            svg {
                transform: rotate(-180deg);
            }
        }

        svg {
            fill: currentColor;
            height: 16px;
            min-width: 16px;
            transition: transform 0.3s;
            width: 16px;
        }
    }

    &__body {
        display: none;
        overflow: hidden;
        padding: 0 24px 24px;
    }
}