*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    @include scrollbar;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    touch-action: manipulation;
}

.page {
    background-color: var(--bg_color_1);
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: clamp(14px, 1vw, 18px);
    font-family: var(--main_font);
    font-weight: 400;
    line-height: 1.6;
    min-height: 100%;
    overflow-x: hidden;

    &--main {
        .page__content {
            padding-top: 0;
        }
    }

    &--white {
        background-color: #fff;
        color: var(--text_color);

        .main-menu {
            &::after {
                background-color: #F4F4F5;
                backdrop-filter: blur(0);
            }
        }

        .submenu__list {
            @media(min-width: $md) {
                background-color: #F4F4F5;
                backdrop-filter: blur(0);
            }
        }

        .footer a:not([class]),
        .header__phone,
        .main-menu__link,
        .submenu__link {
            color: var(--text_color);
        }

        .footer__bottom::before,
        .footer__inner {
            background-color: rgba(#9192A0, 0.1);
        }

        .title-block__back {
            color: var(--text_color);
        }

        .title-block {
            h1 {
                &::after {
                    opacity: 1;
                }
            }
        }

        .article-nav__link {
            &::before {
                background-color: rgba(#9192A0, 0.1);
            }
        }
    }

    &.is-overflow {
        overflow: hidden;
    }

    &__content {
        flex: 1 0 auto;
        padding-top: 90px;
        padding-bottom: 40px;
        overflow: hidden;
        @media(min-width: $sm) {
            padding-top: 150px;
            padding-bottom: 80px;
        }
    }
}

.page-section {
    padding-top: clamp(40px, 4.5vw, 80px);
    padding-bottom: clamp(40px, 4.5vw, 80px);

    h2 {
        font-size: clamp(22px, 3.125vw, 60px);
        line-height: 1.3;

        &.big {
            margin-bottom: 0.6em;
            @media(min-width: $hd) {
                font-size: clamp(22px, 5.2125vw, 100px);
                line-height: 1.3;
            }
        }
    }
}

.container {
    max-width: var(--container_max_width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

a {
    color: var(--link_color);
    transition: color 0.3s;
    text-decoration: underline;
    @include hover {
        color: var(--primary_color);
    }
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.title-block {
    margin-bottom: clamp(20px, 3.125vw, 60px);
    @media(min-width: $hd) {
        padding-left: 120px;
        padding-right: 120px;
        position: relative;
        z-index: 1;
    }

    &__back {
        align-items: center;
        color: #fff;
        display: inline-flex;
        gap: 10px;
        text-decoration: none;
        text-transform: uppercase;
        @media(min-width: $hd) {
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }
        @include hover {
            color: var(--primary_color);
        }

        svg {
            fill: currentColor;
            height: 1.42em;
            width: 1.42em;
        }
    }

    h1 {
        font-size: clamp(14px, 4.125vw, 40px);
        line-height: 1.4;
        position: relative;
        text-align: center;
        z-index: 1;

        &::after {
            color: #F4F4F4;
            content: attr(data-text);
            font-size: clamp(40px, 6.125vw, 120px);
            left: 50%;
            opacity: 0.1;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            z-index: -1;
        }
    }
}

.text-block {
    max-width: 1120px;
}

.image {
    &:not(:last-child) {
        margin-bottom: 24px;
    }

    img {
        clip-path: url("#image_clip");
        display: block;
        width: 100%;
    }
}

.compensate-for-scrollbar {
    margin: 0 !important;
}