*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    @include scrollbar;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    touch-action: manipulation;
}

.page {
    background-color: var(--bg_color_1);
    //background: linear-gradient(180deg, var(--bg_color_1) 28%, var(--bg_color_2) 100%);
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: var(--main_font);
    font-weight: 400;
    line-height: 1.3;
    min-height: 100%;
    overflow-x: hidden;

    &--white {
        background-color: #fff;
        color: var(--text_color);

        .main-menu {
            &::after {
                background-color: #F4F4F5;
                backdrop-filter: blur(0);
            }
        }

        .submenu__list {
            @media(min-width: $md) {
                background-color: #F4F4F5;
                backdrop-filter: blur(0);
            }
        }

        .footer a:not([class]),
        .header__phone,
        .main-menu__link,
        .submenu__link {
            color: var(--text_color);
        }

        .footer__bottom::before,
        .footer__inner {
            background-color: rgba(#9192A0, 0.1);
        }
    }

    &.is-overflow {
        overflow: hidden;
    }

    &__content {
        flex: 1 0 auto;
        padding-top: 90px;
        padding-bottom: 40px;
        overflow: hidden;
        @media(min-width: $sm) {
            padding-top: 150px;
            padding-bottom: 80px;
        }
    }
}

.container {
    max-width: var(--container_max_width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

a {
    color: var(--link_color);
    transition: color 0.3s;
    text-decoration: underline;
    @include hover {
        color: var(--primary_color);
    }
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.compensate-for-scrollbar {
    margin: 0 !important;
}