.popup {
    border-radius: 0;
    background-color: #fff;
    color: var(--text_color);
    display: none;
    position: relative;
    width: 100%;

    &.fancybox-content {
        max-width: 960px;
        overflow: visible;
        padding: 60px 20px;
        @media(max-width: $sm - 0.02px) {
            min-height: 100%;
        }
        @media(min-width: $sm) {
            border-radius: 100px;
            padding: 60px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 50px;
        padding-right: 40px;
        text-transform: uppercase;
        @media(min-width: $sm) {
            font-size: 32px;
        }
    }

    &__form {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }

    &__form-row {
        margin-bottom: 15px;
    }

    &__form-label {
        color: #81898F;
        font-size: 12px;
        display: block;
        margin-bottom: 8px;
    }

    &__form-note {
        color: #81898F;
        font-size: 14px;
    }

    &__form-status {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;

        &:empty {
            display: none;
        }

        &.error {
            color: #c4334d;
        }

        &.success {
            color: #00d7b0;
        }
    }

    &__form-submit {
        width: 100%;
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 0;
        margin-top: 50px;
    }

    &__link {
        align-items: center;
        color: var(--primary_color);
        display: flex;
        gap: 12px;
        font-size: 14px;
        font-weight: 900;
        height: 120px;
        justify-content: center;
        padding: 24px;
        position: relative;
        transition: color 0.3s;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
        z-index: 1;
        @media(min-width: $md) {
            width: calc(100% / 3);
        }

        &::before {
            border-radius: 20px 30px;
            background-color: rgba(#9192A0, 0.1);
            content: '';
            left: 8px;
            height: 100%;
            position: absolute;
            top: 0;
            transform: skewX(-12deg);
            transition: background-color 0.3s, opacity 0.3s;
            width: calc(100% - 16px);
            z-index: 0;
        }
        @include hover {
            color: var(--text_color);
        }

        svg {
            fill: currentColor;
            height: 24px;
            min-width: 24px;
            width: 24px;
        }
    }
}

.popup-form {
    border-radius: 0;
    background-color: #343434;
    color: #fff;
    display: none;
    position: relative;
    width: 100%;

    &.fancybox-content {
        background-color: #343434;
        border-radius: 0;
        max-width: 600px;
        overflow: visible;
        padding: 60px 20px;
        @media(max-width: $sm - 0.02px) {
            min-height: 100%;
        }
        @media(min-width: $sm) {
            border-radius: 50px;
            padding: 75px;
        }
        @media(min-width: $lg) {
            max-width: 940px;
        }
    }

    &__text {
        color: #A0A0A2;
        font-size: 12px;
        margin-bottom: 25px;
        @media(min-width: $lg) {
            font-size: 16px;
            margin-bottom: 50px;
        }
    }

    .l-form_1 {
        margin-bottom: 0;
    }
}

.fancybox-slide--html {
    @media(max-width: $sm - 0.02px) {
        padding: 0;
    }

    .fancybox-close-small {
        &.popup__close {
            @include button-reset;
            @include active-area;
            align-items: center;
            color: #81898F;
            cursor: pointer;
            display: flex;
            height: 24px;
            justify-content: center;
            left: auto;
            opacity: 1;
            position: absolute;
            right: 20px;
            top: 24px;
            transition: color 0.3s;
            width: 24px;
            z-index: 1;
            @media(min-width: $sm) {
                right: 60px;
                top: 72px;
            }
            @include hover {
                color: var(--primary_color);
            }

            svg {
                fill: currentColor;
                height: 24px;
                width: 24px;
            }
        }
    }
}

.fancybox-slide--html .popup-form .fancybox-close-small.popup__close {
    @media(min-width: $sm) {
        background-color: var(--primary_color);
        border-radius: 50%;
        height: 48px;
        left: calc(100% + 8px);
        top: 0;
        width: 48px;
    }
    @media(min-width: $lg) {
        height: 80px;
        width: 80px;
    }

    svg {
        @media(min-width: $sm) {
            fill: #fff;
        }
        @media(min-width: $lg) {
            height: 30px;
            width: 30px;
        }
    }
}