.h1,
h1 {
    font-size: clamp(22px, 4.125vw, 80px);
    font-weight: 900;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: clamp(32px,0.9em, 60px);
    text-transform: uppercase;
    @media(min-width: $sm) {
        line-height: 1.3;
    }
    @media(min-width: $xlg) {
        line-height: 1.2;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.h2,
h2 {
    font-size: clamp(22px, 2vw, 32px);
    font-weight: 900;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 32px;
    text-transform: uppercase;

    &:not(:first-child) {
        margin-top: 60px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.h3,
h3 {
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 900;
    line-height: 1.4;
    margin-top: 32px;
    margin-bottom: 24px;
    text-transform: uppercase;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.h4,
h4 {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

h1.big-title {
    font-size: clamp(22px, 6vw, 120px);
    font-weight: 900;
    margin-bottom: 32px;
    text-transform: uppercase;
    text-align: center;

    &:has(img) {
        @media(min-width: $hd) {
            margin-bottom: clamp(32px,2em,180px);
        }
    }

    span {
        position: relative;
        z-index: 1;

        img {
            aspect-ratio: 1;
            left: auto;
            max-width: 320px;
            object-fit: contain;
            position: absolute;
            right: 0;
            top: 15%;
            transform: translateX(65%);
            width: 3em;
            z-index: 1;
            @media(max-width: $hd - 0.02px) {
                display: none;
            }
        }
    }
}

.caption {
    opacity: 0.7;
    text-transform: uppercase;
}

p {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

ol,
p,
ul {
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

ul {
    &:not([class]) {
        list-style: none;
        padding-left: 0;

        li {
            padding-left: 28px;
            position: relative;
            z-index: 1;

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            &::before {
                background-color: currentColor;
                border-radius: 50%;
                content: '';
                height: 4px;
                left: 13px;
                position: absolute;
                top: 0.9em;
                transform: translate(-50%, -50%);
                width: 4px;
                z-index: 1;
            }
        }
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.color-primary {
    color: var(--primary_color);
}

.exp {
    span {
        align-items: center;
        display: inline-flex;
        height: 53px;
        justify-content: center;
        position: relative;
        width: 118px;
        z-index: 1;

        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='118' height='53' viewBox='0 0 118 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.6293 49.5943V49.8555C74.8236 49.8551 87.7088 47.167 97.054 42.8258C101.727 40.6543 105.515 38.0716 108.144 35.192C109.459 33.7512 110.486 32.237 111.189 30.6489C111.891 29.0628 112.271 27.3901 112.271 25.6625C112.271 23.9351 111.891 22.262 111.189 20.6758C109.958 17.8994 107.739 15.3376 104.712 13.0251C95.6322 6.09766 79.2602 1.47138 60.6293 1.46964C46.4349 1.47008 33.5498 4.15818 24.2045 8.49941C19.5315 10.6709 15.7439 13.2536 13.114 16.1333C11.7991 17.5735 10.7728 19.088 10.0699 20.6758C9.36753 22.262 8.98722 23.9351 8.9873 25.6625C8.98722 27.3901 9.36759 29.0628 10.0699 30.6489C11.3003 33.4256 13.5195 35.9876 16.5467 38.3001C25.6263 45.2275 41.9983 49.8538 60.6293 49.8555V49.5943V49.3332C46.4516 49.3337 33.5807 46.6463 24.2629 42.317C19.6042 40.153 15.8336 37.5766 13.238 34.7332C11.9402 33.3121 10.9371 31.8244 10.2636 30.3015C9.58964 28.7768 9.24691 27.2303 9.24676 25.6625C9.24691 24.0948 9.58964 22.5483 10.2636 21.0232C11.4418 18.3564 13.6315 15.8063 16.6386 13.5135C25.6621 6.62387 42.0221 1.9902 60.6293 1.99194C74.8069 1.99151 87.6778 4.67918 96.9956 9.00809C101.654 11.1723 105.425 13.7484 108.02 16.592C109.318 18.0127 110.321 19.5007 110.995 21.0232C111.669 22.5483 112.011 24.0948 112.012 25.6625C112.011 27.2303 111.669 28.7768 110.995 30.3015C109.817 32.9686 107.627 35.5187 104.62 37.8118C95.5965 44.7013 79.2364 49.3349 60.6293 49.3332V49.5943Z' fill='%23C18C45'/%3E%3Cpath d='M66.3577 48.1246V48.3857C80.5521 48.3852 93.4372 45.6972 102.782 41.356C107.456 39.1845 111.243 36.6017 113.873 33.7221C115.188 32.2818 116.214 30.7671 116.917 29.1793C117.619 27.5934 118 25.9202 118 24.1931C118 22.4658 117.619 20.7926 116.917 19.2065C115.687 16.4295 113.467 13.8677 110.44 11.5553C101.361 4.62825 84.9887 0.00197601 66.3577 0.000236511C52.1634 0.000671387 39.2783 2.68878 29.9331 7.02996C25.26 9.20151 21.4724 11.7843 18.8425 14.6634C17.5276 16.1041 16.5013 17.6186 15.7985 19.2065C15.0961 20.7926 14.7157 22.4658 14.7158 24.1931C14.7157 25.9202 15.0961 27.5934 15.7985 29.1793C17.0288 31.9563 19.248 34.5181 22.2752 36.8307C31.3549 43.7576 47.7268 48.3839 66.3577 48.3857V48.1246V47.8634C52.1803 47.8638 39.3094 45.1766 29.9914 40.8471C25.3327 38.6836 21.5621 36.1068 18.9665 33.2634C17.6688 31.8427 16.6656 30.355 15.9921 28.8321C15.3182 27.3074 14.9754 25.7609 14.9753 24.1931C14.9754 22.6249 15.3182 21.0789 15.9921 19.5538C17.1703 16.8866 19.36 14.3369 22.3671 12.0436C31.3905 5.15447 47.7506 0.520794 66.3577 0.522533C80.5354 0.522533 93.4063 3.20934 102.724 7.53873C107.383 9.7024 111.153 12.279 113.749 15.1221C115.047 16.5433 116.05 18.031 116.723 19.5538C117.397 21.0789 117.74 22.6249 117.74 24.1931C117.74 25.7609 117.397 27.3074 116.723 28.8321C115.545 31.4992 113.355 34.049 110.348 36.3422C101.325 43.2314 84.9649 47.8651 66.3577 47.8634V48.1246Z' fill='%23C18C45'/%3E%3Cpath d='M61.3637 48.1246V48.3857C75.558 48.3852 88.4432 45.6972 97.7886 41.356C102.462 39.1845 106.249 36.6017 108.879 33.7221C110.194 32.2818 111.22 30.7671 111.923 29.1793C112.625 27.5934 113.006 25.9202 113.006 24.1931C113.006 22.4658 112.625 20.7926 111.923 19.2065C110.693 16.4295 108.474 13.8677 105.446 11.5553C96.3668 4.62825 79.9946 0.00197601 61.3637 0.000236511C47.1694 0.000671387 34.2842 2.68878 24.9389 7.02996C20.2659 9.20151 16.4783 11.7843 13.8484 14.6634C12.5335 16.1041 11.5072 17.6186 10.8043 19.2065C10.102 20.7926 9.72153 22.4658 9.72168 24.1931C9.72159 25.9202 10.102 27.5934 10.8043 29.1793C12.0347 31.9563 14.2539 34.5181 17.2811 36.8307C26.3607 43.7576 42.7325 48.3839 61.3637 48.3857V48.1246V47.8634C47.186 47.8638 34.3151 45.1766 24.9972 40.8471C20.3386 38.6836 16.568 36.1068 13.9724 33.2639C12.6746 31.8427 11.6715 30.355 10.998 28.8321C10.324 27.3074 9.9813 25.7609 9.98113 24.1931C9.9813 22.6249 10.324 21.0789 10.998 19.5538C12.1762 16.8866 14.3659 14.3369 17.373 12.0436C26.3965 5.15447 42.7563 0.520794 61.3637 0.522533C75.5413 0.522533 88.4123 3.20934 97.7302 7.53873C102.389 9.7024 106.159 12.279 108.755 15.1221C110.053 16.5433 111.056 18.031 111.729 19.5538C112.403 21.0789 112.746 22.6249 112.746 24.1931C112.746 25.7609 112.403 27.3074 111.729 28.8321C110.551 31.4992 108.361 34.049 105.354 36.3422C96.3309 43.2314 79.9708 47.8651 61.3637 47.8634V48.1246Z' fill='%23C18C45'/%3E%3Cpath d='M56.8111 51.7183V51.9795C71.0055 51.979 83.8906 49.2908 93.2358 44.9497C97.9087 42.7782 101.697 40.1959 104.326 37.3163C105.641 35.8756 106.668 34.3609 107.37 32.7731C108.073 31.1871 108.453 29.5139 108.453 27.7869C108.453 26.0593 108.073 24.3863 107.37 22.8002C106.14 20.0233 103.921 17.4614 100.894 15.149C91.814 8.22154 75.4421 3.59571 56.8111 3.59397C42.6166 3.59441 29.7314 6.28207 20.3862 10.6237C15.7132 12.7951 11.9256 15.3775 9.29566 18.2571C7.98076 19.6977 6.95444 21.2124 6.25151 22.8002C5.54917 24.3863 5.16878 26.0593 5.16895 27.7869C5.16878 29.5139 5.54925 31.1871 6.25151 32.7731C7.48196 35.55 9.70105 38.1118 12.7283 40.4244C21.808 47.3519 38.18 51.9776 56.8111 51.9795V51.7183V51.457C42.6335 51.4575 29.7626 48.7704 20.4445 44.4408C15.786 42.2773 12.0152 39.7005 9.41965 36.8574C8.12189 35.4364 7.11871 33.9487 6.44525 32.4259C5.77129 30.9011 5.42856 29.3546 5.4284 27.7869C5.42856 26.2186 5.77129 24.6723 6.44525 23.1476C7.62342 20.4803 9.81313 17.9302 12.8203 15.6373C21.8437 8.74829 38.2038 4.11453 56.8111 4.11627C70.9886 4.11583 83.8595 6.80307 93.1775 11.1325C97.8361 13.2961 101.607 15.8724 104.202 18.7158C105.5 20.1369 106.503 21.6247 107.177 23.1476C107.851 24.6723 108.193 26.2186 108.194 27.7869C108.193 29.3546 107.851 30.9011 107.177 32.4259C105.999 35.093 103.809 37.6428 100.802 39.936C91.7784 46.8252 75.4183 51.4589 56.8111 51.457V51.7183Z' fill='%23C18C45'/%3E%3Cpath d='M51.6419 52.7388V53C65.8364 52.9995 78.7216 50.3115 88.0668 45.9702C92.7397 43.7987 96.5273 41.216 99.1572 38.3368C100.472 36.8961 101.499 35.3814 102.201 33.7937C102.904 32.2076 103.284 30.5344 103.284 28.8071C103.284 27.0795 102.904 25.4068 102.201 23.8207C100.971 21.0438 98.7519 18.4819 95.7245 16.1695C86.645 9.24205 70.273 4.61626 51.6419 4.61451C37.4476 4.61451 24.5624 7.30266 15.2172 11.6438C10.5442 13.8153 6.75661 16.398 4.12671 19.2777C2.81173 20.7184 1.78541 22.2326 1.08256 23.8207C0.380311 25.4068 -0.000172908 27.0795 5.89466e-08 28.8071C-0.000172908 30.5344 0.380311 32.2076 1.08256 33.7937C2.31294 36.5705 4.53211 39.132 7.55937 41.4449C16.6389 48.3719 33.011 52.9981 51.6419 53V52.7388V52.4777C37.4642 52.4777 24.5934 49.7904 15.2755 45.4615C10.617 43.2978 6.84622 40.7212 4.25071 37.8776C2.95285 36.4569 1.94977 34.9692 1.2763 33.4464C0.602271 31.9213 0.259623 30.3748 0.259451 28.8071C0.259623 27.2393 0.602271 25.6928 1.2763 24.1681C2.45447 21.501 4.64418 18.9507 7.65134 16.6578C16.6747 9.76879 33.0348 5.13507 51.6419 5.13681C65.8196 5.13638 78.6905 7.82357 88.0084 12.1526C92.6671 14.3166 96.4378 16.8929 99.0334 19.7364C100.331 21.157 101.334 22.6452 102.008 24.1681C102.682 25.6928 103.024 27.2393 103.025 28.8071C103.024 30.3748 102.682 31.9213 102.008 33.4464C100.829 36.1135 98.6399 38.6633 95.6326 40.9565C86.6091 47.8457 70.2493 52.4794 51.6419 52.4777V52.7388Z' fill='%23C18C45'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            content: '';
            height: 100%;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            z-index: -1;
        }
    }
}

.accent-text {
    align-items: center;
    border-radius: 50px;
    background-color: rgba(#fff, 0.1);
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding: 30px;

    &:not(:first-child) {
        margin-top: 60px;
    }

    &:not(:last-child) {
        margin-bottom: 60px;
    }

    img {
        display: block;
        min-width: 100px;
        width: 100px;
        @media(max-width: $md - 0.02px) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}