<section class="p-banner">
    <div class="p-banner__bg">
        <img src="images/content/promo/banner/bg.jpg" srcset="images/content/promo/banner/bg@2x.jpg 2x" alt="">
    </div>

    <div class="p-banner__inner container">
        <h1>Ранняя предпродажа<br> абонементов для детей 3-6&nbsp;лет со&nbsp;скидкой до&nbsp;45%!</h1>

        <div class="p-banner__text">
            <p>Количество мест ограничено,<br> подайте заявку прямо сейчас!</p>
        </div>

        <div class="p-banner__button-block">
            <p><span>Адрес: “Нева-Арена”,<br> СПБ,&nbsp;Дальневосточный&nbsp;пр‑т,<br> д.&nbsp;54, стр.&nbsp;1</span></p>

            <button class="p-banner__button" type="button"><span>Подать заявку</span></button>
        </div>
    </div>
</section>