<section class="l-section">
    <div class="contacts contacts--type_1">
        <div class="contacts__text">
            <div class="contacts__text-bg"><img src="images/content/contacts/map.jpg" srcset="images/content/contacts/map.jpg 2x" alt=""></div>
            <div class="contacts__text-inner">
                <p>Занятия будут проходить<br> на ледовой арене<br> «Нева-Арена»</p>
                <p>СПБ, Дальневосточный&nbsp;пр-т,<br> д.&nbsp;54,&nbsp;стр.&nbsp;1</p>
                <a class="button button--type_1 button--h_50" href="#"><span>Показать дорогу</span></a>
            </div>
        </div>
    </div>
</section>