<section class="l-section">
    <div class="sub-title">
        <div>
            <h2>Абонемент</h2>
            <p class="sub-title__about">Спортивно-оздоровительная группа&nbsp;(СОГ)<br> для детей 3-6 лет</p>
        </div>

        <div>
            <p class="sub-title__price-title">обычная&nbsp;стоимость</p>
            <p class="sub-title__price">9&nbsp;000&nbsp;руб.</p>
        </div>
    </div>

    <div class="sub">
        <div class="sub__price-block">
            <div>
                <p class="sub__price-title">стоимость</p>
                <p class="sub__price">5 000 руб.</p>
            </div>
        </div>

        <div class="sub__discount-block">
            <p>При покупке<br> до 15 ноября <span>-45%</span></p>
        </div>
    </div>

    <div class="sub">
        <div class="sub__price-block">
            <div>
                <p class="sub__price-title">стоимость</p>
                <p class="sub__price">7 000 руб.</p>
            </div>
        </div>

        <div class="sub__discount-block">
            <p>При покупке<br> с 16 до 31 ноября <span>-20%</span></p>
        </div>
    </div>
</section>