.header {
    --horizontal_gap: 15px;
    --font_size: 16px;
    --horizontal_padding: 12px;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    @media(min-width: $md) and (max-width: $hd - 0.02px) {
        --font_size: 10px;
    }
    @media(min-width: $sm) {
        --horizontal_padding: 24px;
    }
    @media(min-width: $hd) {
        --font_size: 12px;
    }
    @media(min-width: $lg) {
        --horizontal_gap: 20px;
        --horizontal_padding: 38px;
    }
    @media(min-width: $xlg) {
        --horizontal_gap: 25px;
    }

    &--stick_on_top {
        position: absolute;
    }

    &.is-scrolled {
        background-color: rgba(#fff, 0.1);
        backdrop-filter: blur(100px);
    }

    &.menu-is-open {
        .l-menu__nav,
        .main-menu__nav {
            display: block;
        }

        .main-menu::after {
            z-index: 10;
        }

        .call-back,
        .header__burger,
        .header__button,
        .header__logo,
        .header__phone {
            z-index: 11;
        }
    }

    &__inner {
        align-items: center;
        display: flex;
    }

    &__logo {
        margin-right: 25px;
        min-width: 44px;
        width: 44px;
        @media(min-width: $sm) {
            min-width: 74px;
            width: 74px;
        }

        &--big {
            @media(min-width: $fhd) {
                margin-right: 40px;
                min-width: 115px;
                width: 115px;
            }
        }

        img {
            display: block;
        }
    }

    &__burger {
        @include button-reset;
        height: 32px;
        @media(min-width: $sm) {
            height: 50px;
        }
        @media(min-width: $md) {
            display: none;
        }
        @include hover {
            svg {
                fill: var(--primary_color);
            }
        }

        svg {
            fill: currentColor;
            height: 13px;
            transition: fill 0.3s;
            width: 56px;
            @media(min-width: $sm) {
                height: 23px;
                width: 98px;
            }
        }
    }

    &__phone {
        align-items: center;
        color: #fff;
        display: inline-flex;
        font-size: 13px;
        height: 32px;
        text-decoration: none;
        white-space: nowrap;
        @media(max-width: $sm - 0.02px) {
            display: none;
        }
        @media(min-width: $sm) {
            height: 50px;
        }
        @media(min-width: $md) and (max-width: $lg - 0.02px) {
            display: none;
        }
        @include hover {
            color: var(--primary_color);
        }
    }

    &__button {
        padding-left: var(--horizontal_padding);
        padding-right: var(--horizontal_padding);
        @media(min-width: $sm) {
            padding-left: var(--horizontal_padding);
            padding-right: var(--horizontal_padding);
        }
        @media(min-width: $md) {
            font-size: var(--font_size);
        }
    }
}

.main-menu {
    align-items: center;
    display: flex;
    gap: var(--horizontal_gap);
    font-size: var(--font_size);
    font-weight: 900;
    min-height: 32px;
    margin-left: auto;
    padding-left: var(--horizontal_padding);
    padding-right: var(--horizontal_padding);
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    @media(min-width: $sm) {
        min-height: 50px;
    }

    &::after {
        border-radius: 6px 12px;
        background-color: rgba(#fff, 0.1);
        backdrop-filter: blur(100px);
        content: '';
        height: 100%;
        left: 3px;
        position: absolute;
        top: 0;
        transform: skewX(-26deg);
        width: calc(100% - 6px);
        z-index: 0;
        @media(min-width: $sm) {
            left: 8px;
            width: calc(100% - 16px);
        }
    }

    & > * {
        position: relative;
        z-index: 1;
    }

    &__nav {
        @media(max-width: $md - 0.02px) {
            background-color: rgba(#202427, 0.01);
            backdrop-filter: blur(100px);
            display: none;
            height: 100dvh;
            left: 0;
            overflow-y: auto;
            position: fixed;
            padding: 110px var(--container_padding) var(--container_padding);
            text-align: right;
            top: 0;
            width: 100%;
            z-index: 10;
        }
    }

    &__list {
        @include list-reset;
        @media(min-width: $md) {
            align-items: center;
            display: flex;
            gap: var(--horizontal_gap);
        }
    }

    &__item {
        position: relative;
        z-index: 1;
        @include hover {
            @media(min-width: $md) {
                .submenu {
                    display: block;
                }
            }
        }
    }

    &__link {
        @include active-area;
        align-items: center;
        color: #fff;
        display: inline-flex;
        gap: 8px;
        height: 60px;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        z-index: 1;
        @media(min-width: $sm) {
            height: 50px;
        }
        @include hover {
            color: var(--primary_color);
        }

        &--root {
            svg {
                fill: currentColor;
                height: 12px;
                width: 12px;
            }

            &.is-active {
                svg {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

.submenu {
    font-size: 10px;
    text-align: left;
    @media(max-width: $md - 0.02px) {
        display: none;
    }
    @media(min-width: $md) {
        display: none;
        left: 0;
        position: absolute;
        padding-top: 8px;
        top: 100%;
        transition: display 0.3s;
        z-index: 2;
    }

    &__list {
        @include list-reset;
        @media(min-width: $md) {
            border-radius: 30px;
            background-color: rgba(#fff, 0.1);
            backdrop-filter: blur(100px);
            padding: 20px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        align-items: center;
        color: #fff;
        display: flex;
        gap: 16px;
        text-decoration: none;
        @media(min-width: $md) {
            white-space: nowrap;
        }
        @include hover {
            color: var(--primary_color);
        }

        img {
            border-radius: 50%;
            min-width: 50px;
            width: 50px;
        }
    }
}

.call-back {
    margin-left: auto;
    position: relative;
    text-align: right;

    &::after {
        @media(min-width: $lg) {
            background-image: url("data:image/svg+xml,%3Csvg width='423' height='39' viewBox='0 0 423 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M423 21.8701C409.875 23.9826 397.714 23.5488 387.107 23.5488C366.225 23.6088 354.792 23.2982 338.221 22.706C329.98 22.6045 321.351 22.9422 319.801 20.0209C327.105 12.0412 367.68 12.1883 381.972 8.41524C382.928 8.19898 384.339 6.06478 381.146 5.84001C275.449 -0.973364 160.329 1.05965 56.8296 4.06366C57.7085 9.70402 189.404 7.58586 223.803 20.1201C223.788 20.4627 228.415 23.5065 219.119 24.8593C163.306 31.6579 84.6487 28.5076 22.9846 29.0343C26.2641 31.1022 61.9841 33.8223 72.0623 35.6517C78.6134 36.6277 90.7509 35.9533 93.2508 38.2793C84.0474 38.2793 68.6187 36.6633 65.3698 37.0054C37.5256 34.2691 26.5782 32.6179 5.35268 29.4109C2.05157 28.8074 -0.125947 28.2828 0.00565277 26.6288C1.79013 23.3544 6.20852 24.5262 11.0644 24.7845C63.3144 26.6885 125.148 29.1025 179.863 26.6288C193.225 25.8506 209.223 24.142 222.339 22.1852C223.04 21.3875 213.693 19.9907 212.868 19.8954C184.849 16.7479 157.964 13.0869 129.771 11.3463C107.56 10.0111 85.4231 9.95481 63.2742 8.06178C58.5046 7.65498 56.1788 8.55466 53.9003 4.06366C55.9508 1.82118 60.4184 3.70955 67.0824 2.47809C176.484 -0.0591189 260.631 -1.28586 375.544 3.79187C380.85 4.40393 383.363 3.45849 385.211 8.41524C384.947 10.9687 375.405 11.3463 351.816 13.6454C338.523 16.0473 334.863 17.147 322.453 19.2047C321.816 19.3005 321.897 20.0899 322.528 20.1201C340.286 21.446 363.332 22.9422 379.26 22.9422C393.045 22.9372 408.397 21.9287 423 21.8701Z' fill='white'/%3E%3C/svg%3E%0A");
            background-size: 100% auto;
            background-repeat: no-repeat;
            content: '';
            height: 38px;
            left: -10%;
            position: absolute;
            pointer-events: none;
            top: calc(100% - 5px);
            width: 110%;
            z-index: 1;
        }
    }

    &__phone {
        align-items: center;
        color: #fff;
        display: inline-flex;
        font-size: 14px;
        height: 30px;
        margin-bottom: 4px;
        position: relative;
        @media(max-width: $sm - 0.02px) {
            display: none;
        }

        &::before {
            background-color: #242C30;
            border-radius: 4px 8px;
            content: '';
            height: 100%;
            left: 4px;
            position: absolute;
            top: 0;
            transform: skewX(-26deg);
            transition: background-color 0.3s, opacity 0.3s;
            width: calc(100% - 8px);
            z-index: 0;
        }

        span {
            align-items: center;
            display: flex;
            gap: 4px;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            z-index: 1;
        }

        svg {
            fill: currentColor;
            height: 16px;
            min-width: 16px;
            width: 16px;
        }
    }

    &__button {
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        font-weight: 900;
        height: 50px;
        justify-content: center;
        line-height: 1.3;
        padding: 5px 24px 6px;
        position: relative;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        z-index: 0;
        @media(min-width: $fhd) {
            height: 70px;
            padding-left: 40px;
            padding-right: 40px;
        }

        &::after,
        &::before {
            border-radius: 6px 12px;
            content: '';
            height: 100%;
            left: 8px;
            position: absolute;
            top: 0;
            transform: skewX(-26deg);
            transition: background-color 0.3s, opacity 0.3s;
            width: calc(100% - 16px);
            z-index: 0;
        }

        &::before {
            background: linear-gradient(90.55deg, #E7AF63 -10.87%, #AC7325 99.52%);
        }

        &::after {
            background-color: var(--primary_color);
        }

        & > span {
            position: relative;
            z-index: 1;
        }

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                &::after {
                    opacity: 0;
                }
            }
        }

        small {
            display: block;
            font-size: 8px;
            font-weight: 400;
            @media(min-width: $sm) {
                font-size: 10px;
            }
            @media(min-width: $fhd) {
                font-size: 12px;
            }
        }

        b {
            display: block;
            font-size: 10px;
            @media(min-width: $sm) {
                font-size: 16px;
            }
            @media(min-width: $fhd) {
                font-size: 24px;
            }
        }
    }
}