<footer class="footer container">
    <div class="footer__inner">
        <div class="footer__top">
            <div class="footer__top-left">
                <div class="footer__logo">
                    <img src="images/footer_logo.png" alt="АРМАДА">
                </div>

                <a href="mailto:armada-hockey@mail.ru">armada-hockey@mail.ru</a>

                <a href="tel:+79291171771">+7 929 117 1771</a>

                <button class="button button--type_1 button--h_32_50" type="button" data-fancybox="form_popup_footer" data-src="#form_popup"><span>Вступить в Армаду</span></button>
            </div>

            <div class="footer__top-right">
                <div class="footer__slogan">
                    <p>Хоккей — это не только<br> захватывающая игра,<br> но и отличный способ укрепить<br> свое здоровье</p>
                </div>

                <div class="footer__contacts">
                    <div class="footer__contacts-column">
                        <p class="footer__contacts-title">Адрес</p>

                        <p>195176, г.&nbsp;Санкт‑Петербург,<br> ш.&nbsp;Революции,&nbsp;д.&nbsp;18а, пом.&nbsp;2‑Н, каб.&nbsp;11</p>
                    </div>

                    <div class="footer__contacts-column">
                        <p class="footer__contacts-title">Команды</p>

                        <ul class="footer__contacts-list">
                            <li><a href="#">Орлы</a></li>
                            <li><a href="#">Медведи</a></li>
                            <li><a href="#">Крокодилы</a></li>
                        </ul>
                    </div>

                    <div class="footer__contacts-column">
                        <p class="footer__contacts-title">Мы в соц. сетях</p>

                        <ul class="footer__contacts-list">
                            <li><a href="#" target="_blank">Вконтакте</a></li>
                            <li><a href="#" target="_blank">YouTube</a></li>
                            <li><a href="#" target="_blank">Телеграм</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__bottom-inner">
                <div class="footer__copyrights">© 2024 АРМАДА</div>

                <a href="#">Политика конфиденциальности</a>

                <a href="#">Разработка сайта cake.ru</a>

                <a href="#">При поддержке <img src="images/psp_logo.png" alt="ПСПФНР"></a>
            </div>
        </div>
    </div>
</footer>