<ul class="pager">
    <li class="pager__item pager__arrow">
        <a class="pager__link button button--type_2 button--h_32_50" href="#" title="Назад">
            <span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_left" />
                </svg>
            </span>
        </a>
    </li>

    <li class="pager__item">
        <a class="pager__link button button--type_2 button--h_32_50" href="#"><span>1</span></a>
    </li>

    <li class="pager__item">
        <a class="pager__link button button--type_1 button--h_32_50"><span>2</span></a>
    </li>

    <li class="pager__item">
        <a class="pager__link button button--type_2 button--h_32_50" href="#"><span>3</span></a>
    </li>

    <li class="pager__item">
        <a class="pager__link button button--type_2 button--h_32_50" href="#"><span>...</span></a>
    </li>

    <li class="pager__item">
        <a class="pager__link button button--type_2 button--h_32_50" href="#"><span>10</span></a>
    </li>

    <li class="pager__item pager__arrow">
        <a class="pager__link button button--type_2 button--h_32_50" href="#" title="Вперёд">
            <span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right" />
                </svg>
            </span>
        </a>
    </li>
</ul>