<section id="actions" class="l-section">
    <h2 class="big"><span><span>Предложения<br> и акции</span> <img src="images/content/titles/actions@2x.png" alt=""></span></h2>

    <div class="actions">
        <div class="action">
            <p><span class="color-primary">Бесплатное</span> пробное занятие</p>
        </div>

        <div class="action">
            <p><span class="color-primary">Скидка 50%</span> для детей участников СВО</p>
        </div>

        <div class="action">
            <p><span class="color-primary">Скидка 50%</span> на абонемент для второго и последующего ребенка + льготы для многодетных семей</p>
        </div>

        <div class="action">
            <p><span class="color-primary">Бесплатная</span> экипировка на пробный период (кроме коньков)</p>
        </div>

        <div class="action action--wide">
            <span>
                <button class="button button--type_1 button--h_32_50" type="button" data-fancybox="signup_popup" data-src="#signup_popup"><span>Записаться</span></button>
            </span>
        </div>
    </div>
</section>