<section class="l-banner">
    <div class="l-banner__bg">
        <video poster="https://www.hcarmada.ru/local/templates/main/images/video/poster.jpg" autoplay="" muted="" loop="" playsinline="">
            <source src="https://www.hcarmada.ru/local/templates/main/images/video/vid.webm" type="video/webm" media="(min-width: 1200px)">
            <source src="https://www.hcarmada.ru/local/templates/main/images/video/mob.webm" type="video/webm">
        </video>
    </div>

    <div class="l-banner__inner container">
        <h1>Армада — сила<br> в единстве</h1>

        <p>хоккейный клуб</p>

        <div class="l-banner__button-block">
            <a class="button button--type_3" href="#to_form">
                <span>
                    <span>Записаться на первое<br> бесплатное занятие</span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right" />
                    </svg>
                </span>
            </a>
        </div>
    </div>

    <a class="marquee" href="#">
        <div class="marquee__inner" data-text="• Скоро! Открытие новой ледовой арены на Дальневосточном проспекте! • Ранняя предпродажа абонементов со скидкой до 45%">
            • Скоро! Открытие новой ледовой арены на Дальневосточном проспекте! • Ранняя предпродажа абонементов со скидкой до 45%
        </div>
    </a>
</section>