<section class="l-section l-focus">
    <div class="container">
        <h2>Фокус на развитии важных качеств&nbsp;детей</h2>

        <div class="l-focus__banner">
            <p class="l-focus__banner-text">Мы не просто учим играть в хоккей, мы воспитываем целеустремленных и уверенных в себе детей</p>

            <div class="l-focus__banner-img-wrapper">
                <div class="l-focus__banner-img">
                    <img src="images/content/landing/focus/img.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>