<section id="to_form" class="l-section l-form-section">
    <h2>УТОЧНИТЬ РАСПИСАНИЕ / ЗАПИСАТЬСЯ НА ЗАНЯТИЕ<br> <span class="color-primary">Хотите посетить ознакомительную тренировку?</span></h2>

    <p class="l-form-section__text">Напишите вопрос нам, и мы обязательно вам ответим!</p>

    <div class="l-form">
        <h3 class="text-center">Оставьте заявку</h3>

        <form class="js-form l-form_1" action="">
            <label class="l-form_1__label">
                <input class="l-form_1__input" name="NAME" type="text" autocomplete="off" required placeholder="Введите ваше имя">
            </label>

            <label class="l-form_1__label">
                <input class="l-form_1__input" name="EMAIL" type="text" autocomplete="off" required placeholder="Введите ваш E-mail">
            </label>

            <label class="l-form_1__label">
                <input class="l-form_1__input" name="AGE" type="text" autocomplete="off" required placeholder="Введите возраст ребенка">
            </label>

            <div class="js-form-status l-form_1__status"></div>

            <div class="l-form_1__bottom">
                <div>
                    <span>
                        <button class="l-form_1__submit button button--type_2 button--h_50" type="submit"><span>Отправить</span></button>
                    </span>

                    <p class="l-form_1__note">Нажимая кнопку «Отправить»,<br> Вы даете согласие на обработку персональных&nbsp;данных</p>
                </div>

                <div>
                    <div class="l-form_1__socials">
                        <a class="l-form_1__social button button--type_2 button--h_50" href="#" title="Наш Telegram" target="_blank">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#tg" />
                                </svg>
                            </span>
                        </a>

                        <a class="l-form_1__social button button--type_2 button--h_50" href="#" title="Наш WhatsApp" target="_blank">
                            <span>
                                <svg aria-hidden="true">
                                    <use xlink:href="images/sprite.svg#wa" />
                                </svg>
                            </span>
                        </a>
                    </div>

                    <p class="l-form_1__note">Написать&nbsp;в&nbsp;мессенджерах</p>
                </div>
            </div>
        </form>

        <!--<h3>Оставьте заявку на звонок</h3>

        <form class="js-form l-form_2" action="">
            <label class="l-form_2__label">
                <input class="js-phone-mask l-form_2__input" name="PHONE" type="text" required placeholder="Ваш телефон">
                <span></span>
            </label>

            <div class="js-form-status l-form_2__status"></div>

            <button class="l-form_2__submit button button--type_2 button--h_50" type="submit"><span>Отправить</span></button>

            <div class="l-form_2__contacts">
                <a class="button button--type_2 button--h_50" href="mailto:armada-hockey@mail.ru" target="_blank">
                    <span>
                        armada-hockey@mail.ru
                    </span>
                </a>

                <a class="button button--type_2 button--h_50" href="tel:+79291171771" target="_blank">
                    <span>
                        +7 929 117 1771
                    </span>
                </a>
            </div>
        </form>-->
    </div>
</section>