<header class="l-header">
    <picture>
        <img src="images/content/landing/banner/desk.jpg" srcset="images/content/landing/banner/desk@2x.jpg 2x" alt="">
    </picture>

    <div class="l-header__inner container">
        <div class="l-header__logo"><img src="images/logo.png" alt="АРМАДА"></div>

        <h1>Армада — сила<br> в единстве</h1>

        <p>хоккейный клуб</p>

        <div class="l-header__button-block">
            <button class="button button--type_3" type="button">
                <span>
                    <span>Записаться на первое<br> бесплатное занятие</span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#arrow_right" />
                    </svg>
                </span>
            </button>
        </div>
    </div>
</header>