<header class="header header--fixed">
    <div class="header__inner container">
        <a class="header__logo header__logo--big" href="#">
            <img src="images/logo.png" alt="АРМАДА">
        </a>

        <div class="l-menu">
            <nav class="l-menu__nav">
                <ul class="l-menu__list">
                    <li class="l-menu__item">
                        <a class="l-menu__link" href="#actions"><span>Акции</span></a>
                    </li>

                    <li class="l-menu__item">
                        <a class="l-menu__link" href="#prices"><span>Абонементы</span></a>
                    </li>

                    <li class="l-menu__item">
                        <a class="l-menu__link" href="#trainers"><span>Тренеры</span></a>
                    </li>

                    <li class="l-menu__item">
                        <a class="l-menu__link" href="#timing"><span>Расписание</span></a>
                    </li>
                </ul>
            </nav>

            <button class="js-menu-toggler header__burger" type="button" title="Открыть меню">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#burger" />
                </svg>
            </button>
        </div>

        <div class="call-back" data-fancybox="callback" data-src="#callback_popup">
            <div class="call-back__phone">
                <span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#phone" />
                    </svg>
                    +7 929 117 1771
                </span>
            </div>
            <button class="call-back__button" type="button">
                <span><small>Заказать</small> <b>обратный звонок</b></span>
            </button>
        </div>
    </div>
</header>