<header class="header header--stick_on_top">
    <div class="header__inner container">
        <a class="header__logo header__logo--big" href="#">
            <img src="images/logo.png" alt="АРМАДА">
        </a>

        <div class="l-menu">
            <nav class="l-menu__nav">
                <ul class="l-menu__list">
                    <li class="l-menu__item">
                        <a class="l-menu__link" href="#">Абонементы</a>
                    </li>

                    <li class="l-menu__item">
                        <a class="l-menu__link" href="#">Тренеры</a>
                    </li>

                    <li class="l-menu__item">
                        <a class="l-menu__link" href="#">Акции</a>
                    </li>

                    <li class="l-menu__item">
                        <a class="l-menu__link" href="#">Расписание</a>
                    </li>
                </ul>
            </nav>

            <button class="js-menu-toggler header__burger" type="button" title="Открыть меню">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#burger" />
                </svg>
            </button>
        </div>

        <button class="header__button button button--type_1 button--h_32_50" type="button" data-fancybox="form_popup" data-src="#form_popup"><span>Вступить в&nbsp;АРМАДУ</span></button>
    </div>
</header>