<section class="l-section">
    <h2 class="big">Наша миссия</h2>

    <div class="l-mission">
        <div class="l-mission__item">
            <picture>
                <source srcset="images/content/landing/mission/decor_1_desk.svg" media="(min-width: 768px)">
                <img src="images/content/landing/mission/decor_1.svg" alt="">
            </picture>

            <div class="l-mission__item-inner">
                <img src="images/content/landing/mission/img_1.png" alt="">

                <p>Развитие<br> детского&nbsp;хоккея<br> в Санкт-Петербурге</p>
            </div>
        </div>

        <div class="l-mission__item">
            <picture>
                <source srcset="images/content/landing/mission/decor_2_desk.svg" media="(min-width: 768px)">
                <img src="images/content/landing/mission/decor_2.svg" alt="">
            </picture>

            <div class="l-mission__item-inner">
                <img src="images/content/landing/mission/img_2.svg" alt="">

                <p>Создание стабильной<br> и результативной<br> системы обучения</p>
            </div>
        </div>

        <div class="l-mission__item">
            <picture>
                <source srcset="images/content/landing/mission/decor_3_desk.svg" media="(min-width: 768px)">
                <img src="images/content/landing/mission/decor_3.svg" alt="">
            </picture>

            <div class="l-mission__item-inner">
                <img src="images/content/landing/mission/img_3.svg" alt="">

                <p>Повышение доступности<br> детского хоккея</p>
            </div>
        </div>

        <div class="l-mission__item">
            <picture>
                <source srcset="images/content/landing/mission/decor_4_desk.svg" media="(min-width: 768px)">
                <img src="images/content/landing/mission/decor_4.svg" alt="">
            </picture>

            <div class="l-mission__item-inner">
                <img src="images/content/landing/mission/img_4.png" alt="">

                <p>Развитие навыков,<br> способствующих<br> к согласованной и единой<br> работе в команде</p>
            </div>
        </div>
    </div>
</section>