<div id="callback_popup" class="l-form popup-form">
    <h3>Заказать обратный&nbsp;звонок</h3>

    <div class="popup-form__text">
        <p>Оставьте свои контактные данные и наш менеджер свяжется с Вами в ближайшее время</p>
    </div>

    <form class="js-form l-form_1" action="">
        <label class="l-form_1__label">
            <input class="l-form_1__input" name="NAME" type="text" autocomplete="off" required placeholder="Введите ваше имя">
        </label>

        <label class="l-form_1__label">
            <input class="l-form_1__input" name="PHONE" type="text" autocomplete="off" required placeholder="Введите ваш номер телефона">
        </label>

        <div class="js-form-status l-form_1__status"></div>

        <div class="l-form_1__bottom">
            <div>
                <span>
                    <button class="l-form_1__submit button button--type_2 button--h_50" type="submit"><span>Отправить</span></button>
                </span>
            </div>
        </div>
    </form>
</div>

<div id="signup_popup" class="l-form popup-form">
    <h3>Оставьте заявку, и мы обязательно свяжемся с вами!</h3>

    <form class="js-form l-form_1" action="">
        <label class="l-form_1__label">
            <input class="l-form_1__input" name="NAME" type="text" autocomplete="off" required placeholder="Введите ваше имя">
        </label>

        <label class="l-form_1__label">
            <input class="l-form_1__input" name="PHONE" type="text" autocomplete="off" required placeholder="Введите ваш номер телефона">
        </label>

        <label class="l-form_1__label">
            <input class="l-form_1__input" name="AGE" type="text" autocomplete="off" required placeholder="Введите возраст ребенка">
        </label>

        <div class="js-form-status l-form_1__status"></div>

        <div class="l-form_1__bottom">
            <div>
                <span>
                    <button class="l-form_1__submit button button--type_2 button--h_50" type="submit"><span>Отправить</span></button>
                </span>

                <p class="l-form_1__note">Нажимая кнопку «Отправить»,<br> Вы даете согласие на обработку персональных&nbsp;данных</p>
            </div>

            <div>
                <div class="l-form_1__socials">
                    <a class="l-form_1__social button button--type_2 button--h_50" href="#" title="Наш Telegram" target="_blank">
                        <span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#tg" />
                            </svg>
                        </span>
                    </a>

                    <a class="l-form_1__social button button--type_2 button--h_50" href="#" title="Наш WhatsApp" target="_blank">
                        <span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#wa" />
                            </svg>
                        </span>
                    </a>
                </div>

                <p class="l-form_1__note">Написать&nbsp;в&nbsp;мессенджерах</p>
            </div>
        </div>
    </form>
</div>