<section class="l-section">
    <h2 class="big">Абонементы</h2>

    <div class="prices">
        <div class="prices__block">
            <h3>Спортивно-оздоровительная группа (СОГ) для детей 3-6 лет</h3>

            <p class="prices__text">Три тренировки в неделю<br> на льду и две тренировки в зале</p>

            <p class="prices__price">9 000 руб.</p>
        </div>

        <div class="prices__block">
            <h3>Спортивно-оздоровительная группа (СОГ) для детей 3-6 лет</h3>

            <p class="prices__text">Три тренировки в неделю<br> на льду и две тренировки в зале</p>

            <p class="prices__price">9 000 руб.</p>
        </div>
    </div>

    <p class="text-center">
        <a class="button button--type_3" href="#">
            <span>
                <span>Узнать про все<br> абонементы</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_right" />
                </svg>
            </span>
        </a>
    </p>
</section>