<section id="timing" class="l-section">
    <h2 class="big"><span><span>Расписание<br> тренировок</span> <img src="images/content/titles/timing@2x.png" alt=""></span></h2>

    <div class="accordion">
        <button class="accordion__toggler" type="button">
            <span>Спортивно-оздоровительная группа&nbsp;(СОГ)&nbsp;—<br> Гололед</span>
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#plus"></use>
            </svg>
        </button>
        <div class="accordion__body">

            <p><b class="accordion__subtitle">Адрес</b> Санкт-Петербург, Дальневосточный проспект, 54, стр.1</p>

            <p><b class="accordion__subtitle">Тренер</b> Шадрин Андрей Юрьевич</p>

            <p>
                <b class="accordion__subtitle">Понедельник</b>
                7:45 – 8:45 | Лед<br>
                9:00 – 9:30 | СФП
            </p>

            <p>
                <b class="accordion__subtitle">Среда</b>
                7:45 – 8:45 | Лед<br>
                9:00 – 9:30 | СФП
            </p>

            <p>
                <b class="accordion__subtitle">Пятница</b>
                7:45 – 8:45 | Лед
            </p>
        </div>
    </div>

    <div class="accordion">
        <button class="accordion__toggler" type="button">
            <span>Спортивно-оздоровительная группа&nbsp;(СОГ)&nbsp;—<br> Нева Арена</span>
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#plus"></use>
            </svg>
        </button>
        <div class="accordion__body">

            <p><b class="accordion__subtitle">Адрес</b> Каток «Нева Арена», Санкт-Петербург, Дальневосточный проспект, 54, стр.1</p>

            <p><b class="accordion__subtitle">Тренер</b> Фомич Андрей Витальевич</p>

            <p>
                <b class="accordion__subtitle">Понедельник</b>
                7:45 – 8:45 | Лед<br>
                9:00 – 9:30 | СФП
            </p>

            <p>
                <b class="accordion__subtitle">Среда</b>
                7:45 – 8:45 | Лед<br>
                9:00 – 9:30 | СФП
            </p>

            <p>
                <b class="accordion__subtitle">Пятница</b>
                7:45 – 8:45 | Лед
            </p>
        </div>
    </div>

    <div class="accordion">
        <button class="accordion__toggler" type="button">
            <span>Команда 2012 года рождения </span>
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#plus"></use>
            </svg>
        </button>
        <div class="accordion__body">
            <p><b class="accordion__subtitle">Адрес</b> ФОК "Ижорец", Колпино, ул. Тверская, 25Н</p>

            <p><b class="accordion__subtitle">Главный Тренер</b> Снетков Андрей Иванович</p>

            <p><b class="accordion__subtitle">Тренер</b> Игнатьев Данила Сергеевич</p>

            <p>
                <b class="accordion__subtitle">Понедельник</b>
                Выходной
            </p>

            <p>
                <b class="accordion__subtitle">Вторник - Пятница</b>
                4 тренировки на льду и 4 тренировки в зале
            </p>

            <p>
                <b class="accordion__subtitle">Суббота - Воскресенье</b>
                Игровые дни
            </p>
        </div>
    </div>
</section>