<section id="trainers" class="l-section l-trainers">
    <div class="container">
        <div class="trainers-slider">
            <div class="trainers-slider__title-block">
                <h2>Наши тренеры</h2>

                <div class="trainers-slider__nav">
                    <button class="js-slider-prev swiper-button-prev" type="button" title="Назад" data-slider="trainers_slider">
                        <span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#arrow_left"></use>
                            </svg>
                        </span>
                    </button>

                    <button class="js-slider-next swiper-button-next" type="button" title="Вперёд" data-slider="trainers_slider">
                        <span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#arrow_right"></use>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>

            <div class="js-trainers-slider trainers-slider__slider swiper" data-slider="trainers_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="trainer-card">
                            <div class="trainer-card__image">
                                <img src="images/content/landing/trainers/img.jpg" srcset="images/content/landing/trainers/img@2x.jpg 2x" alt="Фомич Андрей Витальевич">
                            </div>
                            <p class="trainer-card__title">Фомич Андрей Витальевич</p>

                            <p class="trainer-card__position">Тренер спортивно-оздоровительной группы (СОГ) и вратарей</p>

                            <p>Выпускник Академии СКА и НГУ имени П.Ф. Лесгафта. Девятилетний тренерский стаж и опыт работы в Финляндии, Андрей Витальевич использует передовые методики двух хоккейных держав для подготовки вратарей высокого уровня.
                                Среди его воспитанников уже есть несколько восходящих звезд, стремящихся к успехам в Молодежной Хоккейной лиге.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trainer-card">
                            <div class="trainer-card__image">
                                <img src="images/content/landing/trainers/img.jpg" srcset="images/content/landing/trainers/img@2x.jpg 2x" alt="Шадрин Андрей Юрьевич">
                            </div>
                            <p class="trainer-card__title">Шадрин Андрей Юрьевич</p>

                            <p class="trainer-card__position">Тренер спортивно-оздоровительной группы (СОГ)</p>

                            <p> Воспитанник хоккейного клуба СКА. Андрей Юрьевич имеет богатый игровой опыт в МХЛ (Молодёжной хоккейной лиге) и европейской высшей лиге. Имеет высшее тренерское образование и статус тренера второй категории, Андрей
                                Юрьевич успешно развивает юных спортсменов, прививая им любовь к хоккею.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trainer-card">
                            <div class="trainer-card__image">
                                <img src="images/content/landing/trainers/img.jpg" srcset="images/content/landing/trainers/img@2x.jpg 2x" alt="Фомич Андрей Витальевич">
                            </div>
                            <p class="trainer-card__title">Фомич Андрей Витальевич</p>

                            <p class="trainer-card__position">Тренер спортивно-оздоровительной группы (СОГ) и вратарей</p>

                            <p>Выпускник Академии СКА и НГУ имени П.Ф. Лесгафта. Девятилетний тренерский стаж и опыт работы в Финляндии, Андрей Витальевич использует передовые методики двух хоккейных держав для подготовки вратарей высокого уровня.
                                Среди его воспитанников уже есть несколько восходящих звезд, стремящихся к успехам в Молодежной Хоккейной лиге.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trainer-card">
                            <div class="trainer-card__image">
                                <img src="images/content/landing/trainers/img.jpg" srcset="images/content/landing/trainers/img@2x.jpg 2x" alt="Шадрин Андрей Юрьевич">
                            </div>
                            <p class="trainer-card__title">Шадрин Андрей Юрьевич</p>

                            <p class="trainer-card__position">Тренер спортивно-оздоровительной группы (СОГ)</p>

                            <p> Воспитанник хоккейного клуба СКА. Андрей Юрьевич имеет богатый игровой опыт в МХЛ (Молодёжной хоккейной лиге) и европейской высшей лиге. Имеет высшее тренерское образование и статус тренера второй категории, Андрей
                                Юрьевич успешно развивает юных спортсменов, прививая им любовь к хоккею.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>