<section class="l-section l-why">
    <h2>Почему стоит выбрать<br> хоккейный клуб «Армада»?</h2>

    <p class="item_1">
        <span class="item_1__text">
            Ведем от первых шагов&nbsp;на&nbsp;льду<br> до уровня чемпионов
            <span class="item_1__image"><img src="images/content/landing/why/cup.png" alt=""></span>
        </span>
    </p>

    <p class="item_2">
        <span class="item_2__text">
            Предоставляем форму<br> новичкам на пробные занятия
            <span class="item_2__image"><img src="images/content/landing/why/boy.png" alt=""></span>
        </span>
    </p>

    <p class="item_3">Бюджетные места для<br> детей участников СВО</p>

    <p class="item_4">
        <span class="item_4__text">
            Большим семьям — большие<br> скидки: 50% для каждого<br> последующего ребенка&nbsp;в&nbsp;семье
            <span class="item_4__image"><img src="images/content/landing/why/50.svg" alt="-50%"></span>
        </span>
    </p>
</section>