.l-form-section {
    h2 {
        font-size: clamp(16px, 3vw, 36px);
        font-weight: 900;
        text-transform: uppercase;

        span {
            display: block;
            @media(max-width: $sm - 0.02px) {
                margin-top: 1em;
            }
        }
    }

    &__text {
        font-size: clamp(14px, 2vw, 30px);
        margin-bottom: clamp(2em, 4vw, 5em);
    }
}

.l-form {
    background-color: rgba(#fff, 0.1);
    border-radius: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 30px;
    @media(max-width: 500px - 0.02px) {
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
    }
    @media(min-width: $md) {
        max-width: 700px;
        padding: 70px 50px;
    }
    @media(min-width: $lg) {
        max-width: 940px;
        padding: 75px;
    }

    h3 {
        font-size: clamp(24px, 2vw, 36px);
        font-weight: 900;
        margin-bottom: 1em;
        margin-top: 0;
        text-transform: uppercase;
    }
}

.l-form_1 {
    margin-bottom: 40px;
    @media(min-width: $md) {
        margin-bottom: 60px;
    }
    @media(min-width: $lg) {
        margin-bottom: 90px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__label {
        display: block;
        margin-bottom: 25px;
        @media(min-width: $lg) {
            margin-bottom: 50px;
        }
    }

    &__input,
    &__textarea {
        border-radius: 0;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #5E5E61;
        color: #fff;
        font-size: 16px;
        height: 40px;
        padding: 0;
        text-transform: uppercase;
        transition: border-color 0.3s;
        width: 100%;
        @media(min-width: $lg) {
            font-size: 36px;
            height: 60px;
        }

        &:focus {
            border-color: #fff;
        }

        &.error {
            border-color: #c4334d;

            &:focus {
                border-color: #c4334d;
            }
        }

        &::-webkit-input-placeholder {
            color: #5E5E61;
            opacity: 1;
        }

        &::-moz-placeholder {
            color: #5E5E61;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: #5E5E61;
            opacity: 1;
        }
    }

    &__textarea {
        height: 80px;
        margin: 0;
        overflow: auto;
        resize: none;
        @media(min-width: $lg) {
            height: 120px;
        }
    }

    &__bottom {
        text-align: center;
        @media(min-width: $md) {
            display: flex;
            gap: 20px;
        }

        & > div {
            &:first-child {
                & > span {
                    display: block;
                    position: relative;
                    z-index: 1;

                    &::after {
                        @media(min-width: $lg) {
                            background-image: url("data:image/svg+xml,%3Csvg width='423' height='38' viewBox='0 0 423 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M423 21.5908C409.875 23.7033 397.714 23.2695 387.107 23.2695C366.225 23.3295 354.792 23.0189 338.221 22.4267C329.98 22.3252 321.351 22.6629 319.801 19.7416C327.105 11.7619 367.68 11.909 381.972 8.13594C382.928 7.91969 384.339 5.78548 381.146 5.56071C275.449 -1.25266 160.329 0.780357 56.8296 3.78436C57.7085 9.42473 189.404 7.30656 223.803 19.8408C223.788 20.1834 228.415 23.2272 219.119 24.58C163.306 31.3786 84.6487 28.2283 22.9846 28.755C26.2641 30.8229 61.9841 33.543 72.0623 35.3724C78.6134 36.3484 90.7509 35.674 93.2508 38C84.0474 38 68.6187 36.384 65.3698 36.7262C37.5256 33.9898 26.5782 32.3386 5.35268 29.1316C2.05157 28.5281 -0.125947 28.0035 0.00565277 26.3495C1.79013 23.0751 6.20852 24.2469 11.0644 24.5052C63.3144 26.4092 125.148 28.8232 179.863 26.3495C193.225 25.5713 209.223 23.8627 222.339 21.9059C223.04 21.1082 213.693 19.7114 212.868 19.6161C184.849 16.4686 157.964 12.8076 129.771 11.067C107.56 9.7318 85.4231 9.67551 63.2742 7.78248C58.5046 7.37568 56.1788 8.27537 53.9003 3.78436C55.9508 1.54189 60.4184 3.43025 67.0824 2.19879C176.484 -0.338416 260.631 -1.56515 375.544 3.51257C380.85 4.12464 383.363 3.17919 385.211 8.13594C384.947 10.6894 375.405 11.067 351.816 13.3661C338.523 15.768 334.863 16.8677 322.453 18.9254C321.816 19.0212 321.897 19.8106 322.528 19.8408C340.286 21.1667 363.332 22.6629 379.26 22.6629C393.045 22.6579 408.397 21.6494 423 21.5908Z' fill='%23C18C45'/%3E%3C/svg%3E%0A");
                            content: '';
                            height: 38px;
                            left: 50%;
                            position: absolute;
                            top: calc(100% - 10px);
                            transform: translateX(-50%);
                            pointer-events: none;
                            width: 423px;
                            z-index: 1;
                        }
                    }
                }

                .l-form_1__note {
                    @media(min-width: $md) {
                        text-align: left;
                    }
                }
            }
        }
    }

    &__submit {
        width: 100%;
        @media(max-width: $md - 0.02px) {
            max-width: 270px;
        }
        @media(min-width: $lg) {
            font-size: 36px;
            height: 80px;
        }

        &::after {
            @media(min-width: $lg) {
                left: 14px;
                width: calc(100% - 28px);
            }
        }
    }

    &__note {
        color: #A0A0A2;
        font-size: 12px;
        margin-top: 15px;
        text-transform: uppercase;
        @media(min-width: $lg) {
            font-size: 16px;
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
        @media(max-width: $md - 0.02px) {
            margin-top: 25px;
        }
    }

    &__social {
        @media(min-width: $lg) {
            height: 80px;
            width: 140px;
        }
        @include hover {
            svg {
                fill: var(--primary_color);
            }
        }

        svg {
            fill: #fff;
            height: 30px;
            transition: fill 0.3s;
            width: 30px;
            @media(min-width: $lg) {
                height: 50px;
                width: 50px;
            }
        }
    }

    &__status {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;

        &:empty {
            display: none;
        }

        &.error {
            color: #c4334d;
        }

        &.success {
            color: #00d7b0;
        }
    }
}

.l-form_2 {
    text-align: center;

    &__label {
        display: block;
        position: relative;
        margin-bottom: 25px;
        z-index: 0;

        span {
            border-radius: 6px 12px;
            background-color: #fff;
            height: 100%;
            left: 8px;
            position: absolute;
            top: 0;
            transform: skewX(-26deg);
            width: calc(100% - 16px);
            z-index: 0;
            @media(min-width: $lg) {
                left: 14px;
                width: calc(100% - 28px);
            }
        }
    }

    &__input {
        border-radius: 0;
        background-color: transparent;
        border: none;
        color: var(--text_color);
        height: 50px;
        padding: 0;
        position: relative;
        text-align: center;
        width: 100%;
        z-index: 1;
        @media(min-width: $lg) {
            font-size: 36px;
            height: 80px;
        }

        &.error {
            & + span {
                border: 2px solid #c4334d;
            }
        }
    }

    &__submit {
        width: 100%;
        @media(max-width: $md - 0.02px) {
            max-width: 270px;
        }
        @media(min-width: $lg) {
            font-size: 36px;
            height: 80px;
        }

        &::after {
            @media(min-width: $lg) {
                left: 14px;
                width: calc(100% - 28px);
            }
        }
    }

    &__status {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;

        &:empty {
            display: none;
        }

        &.error {
            color: #c4334d;
        }

        &.success {
            color: #00d7b0;
        }
    }

    &__contacts {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 0;
        margin-top: 25px;

        .button {
            flex-grow: 1;
            @media(min-width: $md) {
                padding-left: 0;
                padding-right: 0;
                width: 50%;
            }
            @media(min-width: $lg) {
                font-size: 18px;
                height: 70px;
            }
        }
    }
}