.l-why {
    h2 {
        margin-bottom: 0;
    }

    .item_1 {
        font-size: clamp(18px, 2vw, 40px);
        font-weight: 900;
        margin: 0;
        position: relative;
        text-transform: uppercase;
        z-index: 0;

        &__text {
            display: inline-block;
            padding-top: 4em;
            padding-bottom: 4em;
            position: relative;
            z-index: 1;
        }

        &__image {
            left: auto;
            max-width: 410px;
            position: absolute;
            right: -2em;
            top: 50%;
            transform: translateY(-50%);
            width: 12em;
            z-index: -1;
            @media(min-width: $sm) {
                right: 0;
                transform: translate(60%, -50%);
            }

            img {
                display: block;
            }
        }
    }

    .item_2 {
        font-size: clamp(18px, 2vw, 40px);
        font-weight: 900;
        margin-top: -2em;
        position: relative;
        text-transform: uppercase;
        z-index: 0;

        &__text {
            display: inline-block;
            padding-top: 4em;
            padding-bottom: 4em;
            position: relative;
            z-index: 1;
            @media(min-width: 600px) {
                padding-top: 5em;
                padding-bottom: 5em;
                padding-left: clamp(12.5em,2vw,580px);
            }
        }

        &__image {
            left: 0;
            max-width: 560px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 9em;
            z-index: -1;
            @media(min-width: 600px) {
                width: 12em;
            }

            img {
                display: block;
            }
        }
    }

    .item_3 {
        background: url("../images/content/landing/why/decor.svg") no-repeat 50% 50% / 100% 100%;
        font-size: clamp(18px, 2vw, 40px);
        font-weight: 900;
        max-width: 1065px;
        margin-left: auto;
        margin-right: auto;
        padding-top: clamp(1em,5vw,70px);
        padding-bottom: clamp(1em,5vw,70px);
        position: relative;
        text-align: center;
        text-transform: uppercase;
        @media(max-width: $md - 0.02px) {
            margin-left: calc(0.01px - var(--container_padding));
            margin-right: calc(0.01px - var(--container_padding));
        }
    }

    .item_4 {
        font-size: clamp(18px, 2vw, 40px);
        font-weight: 900;
        padding-top: clamp(1em,5vw,70px);
        padding-bottom: clamp(1em,5vw,70px);
        text-transform: uppercase;

        &__text {
            display: inline-block;
            position: relative;

            br {
                @media(max-width: 540px) {
                    display: none;
                }
            }
        }

        &__image {
            left: auto;
            position: absolute;
            right: 0;
            transform: rotate(15deg) translateY(-50%);
            top: 100%;
            width: 8em;
            z-index: -1;
            @media(min-width: 640px) {
                transform: rotate(12.5deg) translate(90%, -100%);
                top: 50%;
                width: clamp(8em, 27vw, 530px);
            }

            img {
                display: block;
            }
        }
    }
}