<div style="padding-top: 50px;">
    <h2>Кнопки с изменяемой высотой от 32px до 50px</h2>

    <button class="button button--type_1 button--h_32_50" type="button"><span>Кнопка 1</span></button>

    <button class="button button--type_2 button--h_32_50" type="button"><span>Кнопка 2</span></button>

    <button class="button button--type_1 button--h_32_50" type="button" disabled><span>Кнопка 1 выключена</span></button>

    <button class="button button--type_2 button--h_32_50" type="button" disabled><span>Кнопка 2 выключена</span></button>
</div>

<div style="padding-top: 50px;">
    <h2>Кнопки с постоянной высотой 50px</h2>

    <button class="button button--type_1 button--h_50" type="button"><span>Кнопка 1</span></button>

    <button class="button button--type_2 button--h_50" type="button"><span>Кнопка 2</span></button>

    <button class="button button--type_1 button--h_50" type="button" disabled><span>Кнопка 1 выключена</span></button>

    <button class="button button--type_2 button--h_50" type="button" disabled><span>Кнопка 2 выключена</span></button>
</div>

<div style="padding-top: 50px;">
    <h2>Кнопки ссылки</h2>

    <a class="button button--type_1 button--h_50" href="#"><span>Кнопка 1</span></a>

    <a class="button button--type_2 button--h_50" href="#"><span>Кнопка 2</span></a>

    <a class="button button--type_1 button--h_50 disabled"><span>Кнопка 1 выключена</span></a>

    <a class="button button--type_2 button--h_50 disabled"><span>Кнопка 2 выключена</span></a>
</div>