.sub-title {
    margin-bottom: 30px;
    @media(min-width: $sm) {
        display: flex;
        gap: 100px;
        margin-bottom: 60px;
    }

    & > div {
        &:nth-child(2) {
            padding-top: 10px;
        }
    }

    h2 {
        font-size: clamp(22px, 3.125vw, 60px);
        margin: 0;
        @media(min-width: $hd) {
            font-size: clamp(22px, 5.2125vw, 100px);
            line-height: 1.3;
        }
    }

    &__about {
        font-size: clamp(14px, 2vw, 26px);
        font-weight: 900;
        text-transform: uppercase;
    }

    &__price-title {
        font-size: clamp(16px, 2vw, 36px);
        margin: 0;
    }

    &__price {
        color: #81898F;
        font-size: clamp(20px, 2vw, 48px);
        display: inline-block;
        margin: 0;
        position: relative;

        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='354' height='44' viewBox='0 0 354 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M354 19.0001C343.016 16.5541 332.839 17.0564 323.962 17.0564C306.486 16.9869 296.918 17.3465 283.05 18.0323C276.153 18.1498 268.932 17.7588 267.635 21.1414C273.748 30.381 307.704 30.2106 319.665 34.5794C320.464 34.8298 321.646 37.301 318.974 37.5613C230.518 45.4504 134.176 43.0964 47.5596 39.6181C48.295 33.0872 158.508 35.5398 187.296 21.0264C187.284 20.6298 191.156 17.1053 183.376 15.5389C136.667 7.6669 70.8407 11.3147 19.2353 10.7048C21.9799 8.3103 51.8732 5.16079 60.3075 3.04249C65.79 1.9124 75.9476 2.69321 78.0397 0C70.3375 0 57.4256 1.87117 54.7067 1.47498C31.4044 4.64339 22.2428 6.55532 4.47955 10.2687C1.71692 10.9675 -0.105402 11.5749 0.00473069 13.49C1.49812 17.2814 5.19579 15.9246 9.25958 15.6255C52.9865 13.4209 104.734 10.6258 150.524 13.49C161.706 14.3911 175.095 16.3695 186.071 18.6353C186.657 19.5589 178.835 21.1763 178.145 21.2866C154.696 24.9311 132.197 29.1701 108.602 31.1856C90.0146 32.7316 71.4888 32.7968 52.9529 34.9887C48.9613 35.4597 47.0149 34.418 45.108 39.6181C46.8241 42.2147 50.5629 40.0281 56.1399 41.454C147.696 44.3918 218.117 45.8123 314.285 39.9328C318.726 39.2241 320.829 40.3188 322.375 34.5794C322.154 31.6228 314.168 31.1856 294.428 28.5234C283.303 25.7423 280.24 24.469 269.855 22.0863C269.322 21.9755 269.389 21.0614 269.917 21.0264C284.778 19.4911 304.065 17.7588 317.395 17.7588C328.932 17.7645 341.779 18.9323 354 19.0001Z' fill='%2381898F'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: 100% auto;
            content: '';
            left: -20%;
            height: 100%;
            position: absolute;
            top: 20%;
            width: 120%;
        }
    }
}

.sub {
    margin-bottom: 80px;
    text-align: center;
    @media(min-width: $sm) {
        align-items: flex-start;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        text-align: left;
    }
    @media(min-width: $lg) {
        margin-bottom: 60px;
    }

    &__price-block {
        line-height: 1;
        margin-bottom: 10px;
        position: relative;
        @media(max-width: $sm - 0.02px) {
            margin-left: auto;
            margin-right: auto;
            max-width: 500px;
        }
        @media(min-width: $sm) {
            margin-bottom: 0;
        }

        & > div {
            position: relative;
            padding: 20px 40px;
            z-index: 1;
            @media(min-width: $sm) {
                padding: 40px 120px 40px 80px;
            }
            @media(min-width: $lg) {
                padding: 40px 200px 40px 80px;
            }
        }

        &::after {
            border-radius: 16px 32px;
            background-color: #fff;
            content: '';
            height: 100%;
            left: 20px;
            position: absolute;
            top: 0;
            transform: skewX(-26deg);
            transition: background-color 0.3s, opacity 0.3s;
            width: calc(100% - 40px);
            z-index: 0;
            @media(min-width: $lg) {
                border-radius: 24px 48px;
                left: 26px;
                width: calc(100% - 52px);
            }
        }
    }

    &__price-title {
        color: var(--text_color);
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 10px;
        text-transform: uppercase;
        @media(min-width: $sm) {
            font-size: 24px;
        }
        @media(min-width: $lg) {
            font-size: 30px;
        }
    }

    &__price {
        color: var(--primary_color);
        font-size: 30px;
        font-weight: 900;
        margin: 0;
        @media(min-width: $sm) {
            font-size: 40px;
        }
        @media(min-width: $lg) {
            font-size: 54px;
        }
    }

    &__discount-block {
        color: #fff;
        display: inline-block;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        @media(min-width: $sm) {
            margin-top: 20px;
            margin-left: -80px;
        }

        &::after {
            border-radius: 6px 12px;
            background-color: #605B4F;
            content: '';
            height: 100%;
            left: 12px;
            position: absolute;
            top: 0;
            transform: skewX(-26deg);
            transition: background-color 0.3s, opacity 0.3s;
            width: calc(100% - 24px);
            z-index: 0;
            @media(min-width: $lg) {
                border-radius: 16px 32px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 900;
            line-height: 1.1;
            min-width: 290px;
            position: relative;
            padding: 12px 40px;
            z-index: 1;
            @media(min-width: $lg) {
                font-size: 26px;
                min-width: 410px;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            span {
                align-items: center;
                border-radius: 50%;
                background-color: #fff;
                color: var(--text_color);
                display: flex;
                height: 60px;
                justify-content: center;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, 35%);
                width: 60px;
                z-index: 1;
                @media(min-width: $lg) {
                    height: 100px;
                    width: 100px;
                }
            }
        }
    }
}